{{!-- <h1>{{title}}</h1> --}}
<div class="category">
    <div class="row" >
    <img class="ntflxLogo" src="images/netflix_PNG7.png">
</div>
    <ul><a href="mainMenu.html">
        <li><img id="house" src="images/homePageLogo.png"></li>
    </a>
    </ul>
    <ul><a href="searchBarPage.html">
        <li><img id="search" src="images/searchBarPage.png"></li>
    </a>
    </ul>
    <ul><a href="register.html">
        <li><img id="search" src="images/exitLogo.png"></li>
    </a>
    </ul>
    <div class="row"> 
        <div class="column">
            <div class="movieBoxTenet">
                <img src="images/Tenet.jpg" alt="Tenet movie" style="width:100%">
                <div class="movieText">
                    <p>A CIA agent</p>
                    <p>participates in an extraction operation at a Kyiv opera house.A masked soldier wearing a red trinket saves his life by "un-firing" a bullet through a gunman. After seizing an artifact, the Protagonist is captured by mercenaries...</p>
                    <a href="MoviePages/pages/tenet.html" id="watchBtn" class="btn">Watch</a>
                </div>
            </div>
        </div>  <!--copy from here, until div class=row -->
        <div class="column">
            <div class="movieBoxBatman">
                <img src="images/Batman.jpg" alt="Batman movie" style="width:100%">
                <div class="movieText">
                    <p>The Batman is an upcoming American superhero film based on the DC Comics character Batman. The Batman is set during Batman's second year of fighting crime and follows him as he explores Gotham City's corruption and faces the Riddler, a riddle-obsessed serial killer. It is a reboot of the Batman film franchise...</p>
                    <a href="MoviePages/pages/batman.html" id="watchBtn" class="btn">Watch</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="movieBoxAntMan">
                <img src="images/AntMan.jpeg" alt="Ant-Man movie" style="width:100%">
                <div class="movieText">
                    <p>Ant-Man and the Wasp: Quantumania is an upcoming American superhero film based on the Marvel Comics characters Scott Lang / Ant-Man and Hope van Dyne / Wasp. It is intended to be the sequel to Ant-Man (2015) and Ant-Man and the Wasp (2018) and part of the Marvel Cinematic Universe...</p>
                    <a href="MoviePages/pages/antman.html" id="watchBtn" class="btn">Watch</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="movieBoxMK">
                <img src="images/MK.jpg" alt="Mortal Kombat movie" style="width:100%">
                <div class="movieText">
                    <p>Mortal Kombat is an upcoming American martial arts fantasy action film. It is based on the video game franchise of the same name created by Ed Boon and John Tobias, serving as a reboot to the Mortal Kombat film series...</p>
                    <a href="MoviePages/pages/mortalKombat.html" id="watchBtn" class="btn">Watch</a>
                </div>
            </div>
        </div> 
    </div>
    <div class="row">
        <div class="column">
            <div class="movieBoxTC">
                <img src="images/TC.jpg" alt="Tom Clancy's movie" style="width:100%">
                <div class="movieText">
                    <p>Without Remorse, or Tom Clancy's Without Remorse, is an upcoming American action thriller film. It is based on the 1993 novel of the same name by Tom Clancy and a spin-off of the Jack Ryan film series....</p>
                    <a href="MoviePages/pages/TC.html" id="watchBtn" class="btn">Watch</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="movieBoxBoss">
                <img src="images/Boss.jpg" alt="Boss level movie" style="width:100%">
                <div class="movieText">
                    <p>A retired Special Forces officer is trapped in a never-ending time loop on the day of his death...</p>
                    <a href="MoviePages/pages/bossLevel.html" id="watchBtn" class="btn">Watch</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="movieBoxGodzilla">
                <img src="images/Godzilla-vs-Kong.jpg" alt="Godzilla vs Kong movie" style="width:100%">
                <div class="movieText">
                    <p>Legendary battle of Godzilla and King Kong...</p>
                    <a href="MoviePages/pages/Godzilla.html" id="watchBtn" class="btn">Watch</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="movieBoxBloodshot">
                <img src="images/Bloodshot.jpg" alt="Bloodshot movie" style="width:100%">
                <div class="movieText">
                    <p>After leading a successful rescue operation of hostages in Mombasa, U.S. soldier, Ray Garrison, and his wife, Gina, travel for a holiday at an Italian beachside town in the Amalfi Coast. They are kidnapped by a group of mercenaries led by Martin Axe, who demands to know how the US military learned about the hostages and their location...</p>
                    <a href="MoviePages/pages/bloodshot.html" id="watchBtn" class="btn">Watch</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="movieBoxGhostbusters">
                <img src="images/Ghostbusters-Afterlife.jpg" alt="Ghostbusters movie" style="width:100%">
                <div class="movieText">
                    <p>After being evicted from their home, two children and their single mother move to a farm inherited from their late grandfather, located in Summerville, Oklahoma. When the town experiences a series of unexplained earthquakes, the children discover their family's link to the original Ghostbusters, who have become something of a myth as many have long since forgotten the events of the "Manhattan Crossrip of 1984". They discover the secret legacy that their grandfather left behind....</p>
                    <a href="MoviePages/pages/ghostbusters.html" id="watchBtn" class="btn">Watch</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="movieBoxLoki">
                <img src="images/Loki.jpg" alt="Loki movie" style="width:100%">
                <div class="movieText">
                    <p>A new Marvel chapter with Loki at its center...</p>
                    <a href="MoviePages/pages/loki.html" id="watchBtn" class="btn">Watch</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="movieBoxF9">
                <img src="images/F9.jpg" alt="Fast and Furios 9 movie" style="width:100%">
                <div class="movieText">
                    <p>F9 (alternatively known as Fast & Furious 9) is an upcoming American action film about bad-ass guys in their bad-ass tuned cars around the world...</p>
                    <a href="MoviePages/pages/F9.html" id="watchBtn" class="btn">Watch</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="movieBoxBlackWidow">
                <img src="images/BlackWidowBackground.jpg" alt="Black Widow movie" style="width:100%">
                <div class="movieText">
                    <p>Black Widow is an upcoming American superhero film based on the Marvel Comics character of the same name...</p>
                    <a href="MoviePages/pages/blackWidow.html" id="watchBtn" class="btn">Watch</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
